name: CI/CD Frontend & Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # ---------- BACKEND ----------
    - name: Deploy Backend
      uses: azure/webapps-deploy@v2
      with:
        app-name: devops-backend-demo
        publish-profile: ${{ secrets.AZURE_BACKEND_PUBLISH_PROFILE }}
        package: backend

    # ---------- FRONTEND ----------
    - name: Deploy Frontend
      uses: azure/webapps-deploy@v2
      with:
        app-name: devops-frontend-demo
        publish-profile: ${{ secrets.AZURE_FRONTEND_PUBLISH_PROFILE }}
        package: frontend
